:root {
	--cell-size: 40px;
	--white: #f2f2f2;
	--black: #0d1b2a;

	--miss: #e0e1dd;
	--hit: #ae2012;
}

* {
	margin: 0px;
	background-color: var(--white);
}

.board-container {
	display: grid;
	grid-template-columns: repeat(10, var(--cell-size));
	grid-template-rows: repeat(10, var(--cell-size));
	width: calc(10 * var(--cell-size));
}

.cell {
	height: var(--cell-size);
	width: var(--cell-size);
	border: 1px black solid;
	cursor: pointer;
}

.cell.hit {
	background-color: var(--hit);
}

.cell.miss {
	background-color: var(--miss);
}
