:root {
	--cell-size: 40px;
	--white: #f2f2f2;
	--black: #0d1b2a;

	--miss: #e0e1ddb8;
	--hit: #ae2012;
}

* {
	margin: 0px;
	background-color: var(--white);
	/* font-family: Arial, Helvetica, sans-serif; */
}

.page-container {
	display: grid;
	grid-template-rows: 15% 80% 5%;
	width: 100vw;
	height: 100vh;
}

header {
	font-size: 3rem;
}

h1 {
	font-family: VT323;
}

#body {
	display: flex;
	justify-content: space-around;
}

.board-container {
	display: grid;
	grid-template-columns: repeat(10, var(--cell-size));
	grid-template-rows: repeat(10, var(--cell-size));
	width: calc(10 * var(--cell-size));
	margin-top: 20px;
}

.game-side {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.player-name {
	font-family: VT323;
	font-size: 2rem;
	margin-top: 20px;
}

.cell {
	height: var(--cell-size);
	width: var(--cell-size);
	border: 1px black solid;
	cursor: pointer;
}

.cell.hit {
	background-color: var(--hit);
}

.cell.miss {
	background-color: var(--miss);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a {
	display: flex;
	text-decoration: none;
	align-items: center;
	gap: 5px;
	color: #000;
	cursor: pointer;
	padding: 5px;
}

#github-link {
	font-size: 100%;
}

footer img {
	height: 1.3rem;
}
