:root {
	--cell-size: 40px;
	--white: #f2f2f2;
	--black: #0d1b2a;

	--miss: #96939b;
	--hit: #ff1500;

	--ship: #1aa7ce;
	--ship-selected: #19677c;
}

* {
	margin: 0px;
	background-color: var(--white);
	box-sizing: border-box;
	/* font-family: Arial, Helvetica, sans-serif; */
}

.game-over-screen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #000;
	font-family: VT323;
	color: var(--white);
	font-size: 10rem;
	height: 100vh;
	width: 100vw;
	z-index: 1000;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease-in 0.1s;
}

.game-over-screen.show {
	opacity: 1;
	pointer-events: auto;
}

.game-over-text {
	background-color: inherit;
}

.page-container {
	display: grid;
	grid-template-rows: 15% 80% 5%;
	width: 100vw;
	height: 100vh;
}

header {
	font-family: VT323;
	padding-left: 87px;
	display: flex;
	align-items: center;
	width: 100%;
	/* background-color: red; */
}

h1 {
	font-size: 6rem;
	justify-self: left;
	padding-right: 800px;
}

header .rules {
	font-size: 1.7rem;
	padding-left: 20px;
	padding-top: 35px;
}

#body {
	display: flex;
	justify-content: space-around;
}

.game-side {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.shipyard-and-board-container {
	display: flex;
	align-items: center;
}

.shipyard {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	height: 100%;
	width: calc(6 * var(--cell-size));
	margin-right: 20px;
	align-items: center;
	justify-content: space-around;
}

.shipyard h6 {
	font-family: VT323;
	font-size: 2.5rem;
}

.ship-slot {
	height: 16%;
	align-content: center;
}

.ship-piece {
	display: flex;
	background-color: black;
	gap: 1px;
	border: 1px solid black;
	cursor: grab;
}

.ship-piece .vertical {
	flex-direction: column;
}

.ship-piece .cell {
	background-color: var(--ship);
	cursor: grab;
}

.ship-piece .cell:active {
	cursor: grabbing;
}

.rotate-instructions {
	font-family: VT323;
	font-size: 1rem;
}

.blocker {
	position: absolute;
	display: flex;
	justify-content: center;
	width: calc(10 * var(--cell-size) + 11px); /* Add gap size */
	height: calc(10 * var(--cell-size) + 11px); /* Add gap size */
	background-color: var(--miss);
	opacity: 60%;
	z-index: 100;
	font-family: VT323;
	font-size: 3rem;
	align-items: center;
}

.board-container {
	display: grid;
	grid-template-columns: repeat(10, var(--cell-size));
	grid-template-rows: repeat(10, var(--cell-size));
	gap: 1px;
	background-color: black;
	border: 1px solid black;
	z-index: 1;
}

.player-name {
	font-family: VT323;
	font-size: 2rem;
	margin-top: 20px;
}

.btn {
	background-color: var(--white);
	font-family: VT323;
	font-size: 1.4rem;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	margin-top: 10px;
}

#new-game-btn {
	font-size: 2.5rem;
	padding: 15px 30px 15px 30px;
	border: none;
}

.btn:hover {
	border: 2px solid black;
	box-sizing: border-box;
}

#new-game-btn:hover {
	/* font-size: 3rem; */
	padding: 15px 70px 15px 70px;
	border: none;
	box-sizing: border-box;
}
.btn:active {
	background-color: var(--miss);
}

.cell {
	height: var(--cell-size);
	width: var(--cell-size);
	/* border: 1px black solid; */
	cursor: pointer;
}

.cell.hit {
	background-color: var(--hit);
}

.cell.miss {
	background-color: var(--miss);
}

.player1-cell {
	cursor: default;
}

.ship {
	background-color: var(--ship);
}

#player1-board .ship {
	cursor: grab;
}

#player1-board .ship:active {
	cursor: grabbing;
}

.recent-ship {
	background-color: var(--ship-selected);
}

.game-active {
	opacity: 80%;
	pointer-events: none;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a {
	display: flex;
	text-decoration: none;
	align-items: center;
	gap: 5px;
	color: #000;
	cursor: pointer;
	padding: 5px;
}

#github-link {
	font-size: 1.5rem;
	font-family: VT323;
}

footer img {
	height: 1.3rem;
}
